/* stijlblad (stylesheet) voor alle buttons*/
/* om een button toe te voegen: <button><a href="LINK_VAN_KNOP">TEXT_OP_DE_KNOP<div class="circle"></div></a></button>*/

button {
    background: #34374b;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    outline: 0;
    text-align: center;
    width: 320px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;

    transition: 1000ms;
    -webkit-tap-highlight-color: transparent;
}
  
  button .circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
 button:hover { background: transparent; }
  
 button:hover .circle {
    height: 50px;
    width: 320px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
  }