/* stijlblad (stylesheet) voor diensten.html*/


.prijs-tabel {
  margin: 7% auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  column-gap: 20px;
  max-width: 90%;
  display: absolute;  
}

.pakket {
  border-radius: 4px;
  background: #979797;
  color: black;
  font-weight: 500;
  box-shadow: 0 5px 20px;
  overflow: hidden;
  position: relative;
}

h2 {
    margin: 0;
    padding: 1rem;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: black;
    position: relative;
}
#brons  { background: #E4953C; }
#zilver { background: #BBC2CC; }
#goud   { background: #FAE481; }

.prijs {
    padding: 10px 1rem;
    background: #58595B;
    color: white;
	font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    box-shadow: inset 0 10px 4px -6px rgba(0, 0, 0, 0.1);
} .prijs-groot { display: inline; font-size:350%; font-weight: 500; }

ul {
    list-style: none;
    padding: 0 0 5% 0;
	padding-top: 30px;
    margin: 0;
}
  

li {
    padding: 0.8em 1em;
    font-size: 90%;
} li:nth-child(odd) { background: #808080; }
  
  
.populair-banner {
    background: #666699;
    transform: rotate(-45deg); /* 45 graden rotatie */
    position: absolute;
    z-index: 1;
    padding: 0.5rem 4rem;
    top: 2rem;
    left: -4rem;
    border: 2px solid #536878;
}

button {
  position:relative;
  margin: 2% auto;
}


button:hover a { color:black; }


#voetnoot {
	padding-top: 1%;
	width: 95%;
	padding-left: 5.5%;
	font-style: italic;
}

