/* stylesheet voor alle html bestanden. */

html {
    background-color: #272727;
	color: white;
    font-family: system-ui, Helvetica, Arial, sans-serif, "Hiragino Kaku Gothic ProN";
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #eee; 
}

.bg {
    position:absolute;
    inset: 0px;
    margin: 5% auto;
	width: 300px;
}


/* SCROLL WIEL VERBERGEN */
html::-webkit-scrollbar{ 
	display: none; 				/* google chrome, safari en opera*/
}
html { 
	-ms-overflow-style: none;  	/* internet explorer en microsoft edge */
	scrollbar-width: none; 		/* firefox */
}



/* QUOTES */
blockquote {
	display: flex;
	font-family: 'EB Garamond', serif;
    font-size: 200%;
}
#quote-een {
	padding-top: 10%;
	padding-left: 15%
}

#quote-twee { 
	padding-top: 0%;
	padding-left: 60%;
}


/* OVER */
#over {
	background: #34374b;
	width: 90%;
	text-align: center;
	margin: 7% auto 0;
	padding: 10px;
}

#over h2 { text-transform: capitalize; }
#over p  { padding: 0 15%; }