/* stijlblad (stylesheet) voor de navigatie bar*/

.navigatie-menu {
  position:fixed;
  top: 7%;
  left:50%;
  transform: translate(-50%, -50%);
  word-spacing: 50px;
}

.navigatie-menu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  display: inline;
  font-weight: 500;
  width: 80px;
  transition: 200ms;
}

.navigatie-menu a:hover {
  color: #fddb3a;
}

.navigatie-menu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  transition: all 200ms;
}

.navigatie-menu a:nth-child(1):hover ~ .dot {
  transform: translateX(25px);
  transition: all 200ms;
  opacity: 1;
}

.navigatie-menu a:nth-child(2):hover ~ .dot {
  transform: translateX(150px);
  transition: all 200ms;
  opacity: 1;
}

.navigatie-menu a:nth-child(3):hover ~ .dot {
  transform: translateX(300px);
  transition: all 200ms;
  opacity: 1;
}

.navigatie-menu a:nth-child(4):hover ~ .dot {
  transform: translateX(450px);
  transition: all 200ms;
  opacity: 1;
}

